Repository xqliu/family-knowledge-mgr: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Django Backend, React Frontend

Fix gitignore to allow package.json for Heroku buildpack detection
  .gitignore
Due: none

Add root package.json for Heroku multi-buildpack deployment
  package.json
Due: none

Fix heroku-postbuild script - remove python dependency
  package.json
Due: none

Restore original working package.json configuration
  package.json
Due: none

Fix authentication enforcement for API and React app
  api/decorators.py
  config/settings.py
  config/urls.py
  family/views.py
Due: backend, Django Backend

Update CLAUDE.md with production deployment and authentication details [skip ci]
  CLAUDE.md
Due: none

Implement pure unit testing strategy with PostgreSQL independence
  .github/workflows/test-and-deploy.yml
  TESTING.md
  ai_integration/tests/test_pure_unit.py
  ai_integration/tests/test_unit_mocked.py
  pytest.ini
Due: none

Fix TypeScript lint errors in ChatInterface test
  frontend/src/components/chat/__tests__/ChatInterface.test.tsx
Due: frontend, React Frontend

Add comprehensive unit tests for React chat components
  frontend/src/components/chat/__tests__/MessageBubble.test.tsx
  frontend/src/components/chat/__tests__/MessageInput.test.tsx
  frontend/src/components/chat/__tests__/SourceList.test.tsx
Due: frontend, React Frontend

Add comprehensive error handling and callback tests for ChatInterface
  frontend/src/components/chat/__tests__/ChatInterface.test.tsx
Due: frontend, React Frontend

Configure backend coverage to exclude test files
  .coveragerc
  ai_integration/tests.py
  api/tests.py
  conftest.py
  family/tests.py
  pytest.ini
Due: backend, Django Backend

Improve backend test coverage for core modules
  test_ai_urls_simple.py
  test_api_urls_simple.py
  test_family_views_runner.py
  test_rag_service_runner.py
Due: none

Achieve 90%+ branch coverage for AI services and fix import bug
  ai_integration/services/embedding_service.py
  test_embedding_service_simple.py
  test_search_service_simple.py
Due: none

Achieve 100% branch coverage for admin mixins, decorators, and AI views
  test_admin_mixins_simple_fixed.py
  test_ai_integration_views_simple.py
  test_api_decorators_simple.py
Due: none

Convert comprehensive unit tests to proper pytest format and fix coverage infrastructure
  .coveragerc
  ai_integration/tests/test_views_comprehensive.py
  api/tests/test_decorators_comprehensive.py
  api/tests/test_views_unit.py
  family/tests/test_admin_views.py
  family/tests/test_middleware_comprehensive.py
  pytest.ini
  test_admin_mixins_simple_fixed.py
  test_ai_integration_views_simple.py
  test_ai_urls_simple.py
  test_api_decorators_simple.py
  test_api_urls_simple.py
  test_embedding_service_simple.py
  test_family_views_runner.py
  test_rag_service_runner.py
  test_search_service_simple.py
Due: backend, Django Backend

Convert comprehensive tests to proper pytest format
  ai_integration/tests/test_rag_service_comprehensive.py
  ai_integration/tests/test_urls_comprehensive.py
  api/tests/test_decorators_comprehensive.py
  api/tests/test_urls_comprehensive.py
  family/tests/test_admin_mixins_comprehensive.py
  family/tests/test_views_comprehensive.py
Due: backend, Django Backend

Remove problematic conftest.py that accessed real database
  conftest.py
Due: none

Fix URL test patterns to match actual URL names
  ai_integration/tests/test_urls_comprehensive.py
Due: none

Optimize React UI with KISS design principles
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/chat/BottomChat.css
  frontend/src/components/chat/ChatInterface.tsx
Due: frontend, React Frontend

Fix TypeScript error: Replace any[] with proper ActivityItem interface
  frontend/src/App.tsx
Due: frontend, React Frontend

Add comprehensive test coverage for bottom chat modal functionality
  frontend/src/components/chat/__tests__/ChatInterface.test.tsx
Due: frontend, React Frontend

Fix comprehensive mobile interface alignment issues
  frontend/src/App.css
  frontend/src/components/chat/BottomChat.css
  frontend/src/components/chat/ChatInterface.tsx
Due: frontend, React Frontend

Update React build files after mobile alignment fixes
  static/react/assets/index-BEfO0BXN.js
  static/react/assets/index-BzIqIiG7.css
  static/react/assets/index-C7i-PqVy.css
  static/react/assets/index-DCAicok5.js
  static/react/index.html
Due: none

Fix critical mobile layout and viewport issues
  frontend/index.html
  frontend/src/App.css
  frontend/src/components/chat/BottomChat.css
Due: frontend, React Frontend

Update React build files with critical mobile fixes
  static/react/assets/index-BBNzbnZM.js
  static/react/assets/index-C7i-PqVy.css
  static/react/assets/index-oidSWDDC.css
  static/react/index.html
Due: none

Fix chat interface text visibility and enhance send button styling
  frontend/src/components/chat/BottomChat.css
  frontend/src/components/chat/ChatInterface.css
Due: frontend, React Frontend

Update React build files with text visibility and button styling fixes
  static/react/assets/index-DxjNnUbT.css
  static/react/assets/index-oidSWDDC.css
  static/react/assets/index-yM2eJYI7.js
  static/react/index.html
Due: none

Refactor CSS with KISS principles - fix white text inheritance properly
  frontend/src/components/chat/BottomChat.css
  frontend/src/components/chat/ChatInterface.css
  frontend/src/index.css
Due: frontend, React Frontend

Update React build files with clean KISS CSS refactoring
  static/react/assets/index-4tXLbuts.js
  static/react/assets/index-CKlSUfIL.css
  static/react/assets/index-DxjNnUbT.css
  static/react/index.html
Due: none

Implement floating chat bubble in bottom right corner
  frontend/src/App.css
  static/react/assets/index-CKlSUfIL.css
  static/react/assets/index-DtD1U-sw.css
  static/react/assets/index-mcAeRlQ3.js
  static/react/index.html
Due: frontend, React Frontend

Update CLAUDE.md with session management and frontend architecture [skip ci]
  CLAUDE.md
Due: none

Add comprehensive unit tests for admin_mixins and forms with >90% branch coverage
  family/tests/test_admin_mixins_final.py
  family/tests/test_forms_final.py
Due: backend, Django Backend

Add comprehensive unit tests for SearchService achieving 97% branch coverage
  ai_integration/tests/test_search_service_final.py
Due: none

Add comprehensive unit tests for widgets achieving 100% branch coverage
  family/tests/test_widgets.py
Due: backend, Django Backend

Add comprehensive unit tests for EmbeddingService achieving 99% branch coverage
  ai_integration/tests/test_embedding_service_final.py
Due: none

Add comprehensive unit tests for admin_views achieving 100% branch coverage
  family/tests/test_admin_views_final.py
Due: backend, Django Backend

Add comprehensive unit tests for signals achieving 100% branch coverage
  ai_integration/tests/test_signals_final.py
Due: none

Optimize chatbox UI layout with improved single-component design
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/__tests__/App.test.tsx
  frontend/src/__tests__/Auth.test.tsx
  frontend/src/components/chat/BottomChat.css
  frontend/src/components/chat/BottomChat.tsx
  frontend/src/components/chat/__tests__/BottomChat.test.tsx
  frontend/src/components/chat/__tests__/ChatInterface.test.tsx
  frontend/src/components/chat/index.ts
Due: frontend, React Frontend

Fix linting errors in BottomChat component
  frontend/src/components/chat/BottomChat.tsx
  frontend/src/components/chat/__tests__/BottomChat.test.tsx
Due: frontend, React Frontend

Path conditions:
  backend: any of: family/, api/, config/
  frontend: any of: frontend/src/
  Django Backend: any of: family/**, api/**, config/**
  React Frontend: any of: frontend/src/**
